{% extends "layout.html" %}
{% block conteudo %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">e-Biblioteca</h1>
    <p>O Sistema desenvolvido por alunos do Bacharelado em Ciência da Computação (BCC).</p>
    <p>Com a intenção de comprovar conhecimento adiquirido na disciplina de Dessenvolvimento Web</p>
    <p>O templete html foi desenvolvido no Pingendo 4.</p>
    <p>Tadas as imagens foram retiradas do mecanismo de busca do google (Google Imagens)</p>
  </div>
</div>

{% endblock %}